@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir.otf");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background: #fff;
  scroll-behavior: smooth;
}

header {
  max-width: 1600px;
  position: relative;
  margin: 0px auto;
  width: 100%;
  margin-top: 30px;
  padding: 0 20px;
  padding-bottom: 30px;
  z-index: 10;
}

header #menuBtn {
  position: absolute;
  left: 20px;
  top: 37%;
  transform: translateY(-50%);
}

header #menuBtn i {
  position: relative;
  top: 2px;
  color: #000;
  font-size: 50px;
}

header #searchBtn {
  background: #fff;
  position: absolute;
  right: 20px;
  color: #000;
  top: 37%;
  transform: translateY(-50%);
}

header #searchBtn i {
  background: #fff;
  position: relative;
  top: 2px;
  font-size: 50px;
}

header #results {
  display: none;
  opacity: 0;
  font-size: 20px;
  position: absolute;
  top: 160px;
  left: 0px;
  padding: 20px;
  width: 100%;
  z-index: 20;
  outline: 2px solid #000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background: #fff;
}

header #results h1 {
  font-size: 1.3em;
  margin: 20px 0;
}

header #results h1 p {
  font-size: 0.7em;
  color: #666;
}

header #results h1:hover {
  font-weight: bold;
  cursor: pointer;
  color: #000;
}

header #results h1:hover > p {
  font-weight: normal;
}

header #searchBox {
  z-index: 2;
  background: #fff;
  position: absolute;
  opacity: 0;
  left: 0;
  font-size: 20px;
  width: 100%;
  padding: 0 20px;
  margin: 80px 0 0 0;
  height: 80px;
}

header #searchBox input {
  text-align: center;
  font-weight: bold;
  height: 80px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  font-size: 2em;
  border-bottom: 3px solid #777;
  padding: 20px;
  color: #555;
}

header #searchBox input::placeholder {
  color: #222 !important;
}

header #searchBox input:focus {
  box-shadow: none;
  border-bottom: 3px solid #777;
}

header #banner {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  height: 80px;
  width: 135px;
  z-index: 10;
}

header #banner div:nth-child(1) {
  width: 45px;
  background: url("../img/logo.png") 0px 0;
  background-size: cover;
  background-repeat: no-repeat;
}

header #banner div:nth-child(2) {
  width: 0;
  background: url("../img/logo.png") -45px 0;
  background-size: cover;
  background-repeat: no-repeat;
}

header #banner div:nth-child(3) {
  width: 90px;
  background: url("../img/logo.png") -195px 0;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  max-width: 1600px;
  border-top: 3px solid #777;
  position: relative;
  background: rgba(0, 0, 0, 0.04);
  padding: 40px 20px;
  top: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
  padding-bottom: 0;
}

main .info {
  font-size: 0.8em;
}

main .notes {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0;
  margin: 10px 0 00px 0;
}

main .mainTit {
  text-align: center;
  font-weight: 900;
  color: #fff;
  padding: 20px;
  background: #555;
  border-bottom: 6px solid #fff;
  outline: 2px solid rgba(0, 0, 0, 0.1);
}

main .conv {
  font-size: 35px;
}

main .titles {
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  color: #2196F3;
  margin: 30px 0 20px 0;
}

main .term {
  text-align: center;
  appearance: none;
  border: none;
  outline: none;
  background: #555;
  resize: none;
  width: 100%;
  height: 85px;
  padding: 30px;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins";
}

main hr {
  margin: 30px 0;
}

main .heads {
  font-family: "Avenir";
  padding-bottom: 3px;
  border-bottom: 5px solid #2196F3;
  font-weight: 900;
  margin: 0;
  font-size: 50px;
}

main .ft {
  margin-top: 50px;
}

main .subHeads {
  font-family: "Poppins";
  font-weight: lighter;
  color: #555;
  font-size: 2.6em;
  margin: 15px 0 0 0;
}

main .subHeads p {
  font-size: 0.55em;
  line-height: 20px;
}

main .subHeads span {
  color: #333;
  font-weight: bold;
}

main .subHeads ul {
  margin: 20px 0 0 35px;
  list-style: circle;
  font-size: 20px;
}

main .subHeads ul li {
  color: rgba(33, 150, 243, 0.8);
  list-style: disc;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

main pre {
  margin-top: 20px;
}

main code {
  padding: 20px !important;
  font-family: "Avenir" !important;
  font-weight: lighter;
  font-size: 1.1em;
}

main .desc {
  font-style: oblique;
  filter: hue-rotate(30deg);
  background: #333;
}

main #download {
  margin: 0;
  font-size: 1.3em;
  padding: 0px !important;
  padding-bottom: 30px;
  line-height: 70px;
  height: 70px;
  margin-bottom: 30px;
  width: 100%;
}

main #download i {
  position: relative;
  top: 3px;
}

main .note {
  display: block;
  position: relative;
  width: 100%;
  left: 0;
  background: linear-gradient(to top, #1976D2, #2196F3);
  padding: 50px;
}

main .note * {
  font-family: "Avenir";
  color: #fff;
  margin: 0;
  text-align: center;
}

main .note h3 {
  font-size: 1.6em;
}

main .row h1 {
  color: #222;
  margin: 0;
  font-size: 2rem;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

main .row p {
  font-size: 1.2rem;
  text-align: left;
  color: #555;
}

main .row p i {
  font-size: 1.1em;
  color: #222;
  font-style: normal;
}

#code {
  position: relative;
  width: 100%;
  font-size: 1.3em !important;
  font-family: monospace;
  padding: 20px;
  background: rgba(136, 136, 136, 0.2);
}

#code #copyBtn {
  position: absolute;
  top: 0;
  right: 0;
}

#code strong {
  position: relative;
  color: #333 !important;
  margin: 0;
  margin-right: 05px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: monospace;
}

#code input {
  display: inline-block;
  width: 145px;
  margin: 0;
  padding: 0;
  font-family: monospace;
  border: none !important;
  box-shadow: none !important;
  font-size: 1em;
}

#code input:disabled {
  font-weight: normal;
  color: #333;
}

#killD {
  max-width: 1600px;
  position: relative;
  background: rgba(33, 150, 243, 0.5);
  padding: 40px 20px;
  top: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

#killD h1 {
  text-align: center;
  font-size: 2.8rem;
  color: #fff;
}

#killD h1 strong {
  font-weight: bold;
}

#trump {
  max-width: 1600px;
  position: relative;
  background: url("../img/dolla.png");
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
  top: 0;
  width: 100%;
  margin: 0 auto;
  height: auto;
}

#trump #shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

#trump h3 {
  font-family: "Avenir";
  color: #fff;
  position: relative;
  z-index: 2;
  font-size: 2.5em;
  width: 100%;
  text-align: center;
}

#trump img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  display: inline-block;
  height: 100%;
}

#trump h1 {
  text-align: left;
  font-size: 4.5em;
  position: relative;
  color: #fff;
  z-index: 2;
}

footer {
  max-width: 1600px;
  background: #444;
  color: #fff;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 330px) {
  header #menuBtn i {
    font-size: 70px;
  }
  header #searchBtn i {
    font-size: 70px;
  }
  main .conv {
    font-size: 40px;
  }
}

@media screen and (min-width: 345px) {
  #killD h1 {
    width: 300px;
    margin: 0 auto;
  }
  main .row h1 {
    text-align: center;
  }
  main .row p {
    text-align: justify;
  }
}

@media screen and (min-width: 400px) {
  main .row h1 {
    text-align: left;
  }
  main .row p {
    font-size: 1.1em;
  }
  main .conv {
    font-size: 45px;
  }
}

@media screen and (min-width: 425px) {
  main .row h1 {
    width: 300px;
    text-align: left;
  }
  main .row p {
    text-align: justify;
  }
}

@media screen and (min-width: 500px) {
  header #banner {
    width: 283px;
  }
  header #banner div:nth-child(2) {
    width: 148px;
  }
  header #results {
    top: 110px;
  }
  #searchBtn {
    background: #fff;
    position: absolute;
    right: 20px;
    color: #000;
    top: 37%;
    transform: translateY(-50%);
  }
  #searchBtn i {
    background: #fff;
    position: relative;
    top: 2px;
    font-size: 50px;
  }
  header #searchBox {
    background: transparent;
    margin: 0;
    width: 400px;
    left: unset;
    right: 50px;
    font-size: 1.1em;
    z-index: 1;
  }
  header #searchBox input {
    text-align: right;
  }
}

@media screen and (min-width: 700px) {
  main .mainTit {
    text-align: left;
    margin-top: 50px;
    width: 400px;
  }
  header #results {
    top: 148px;
    width: 450px;
    right: 00px;
    left: unset;
  }
  header #searchBox {
    width: 560px;
    font-size: 1.5em;
    z-index: 1;
    margin-top: 65px;
    height: 100px;
  }
  header #searchBox input {
    padding-bottom: 60px;
  }
  main .subHeads {
    font-size: 2.5em;
  }
  main .subHeads p {
    font-size: 0.6em;
  }
  main code {
    font-size: 1.2em;
  }
  #trump {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  #trump h3 {
    font-size: 2em;
    text-align: left;
    width: 30%;
    position: relative;
    top: 15px;
  }
  #trump h1 {
    text-align: right;
    font-size: 2em;
    width: 30%;
  }
  #trump img {
    margin-bottom: -50px;
    width: 40%;
  }
  main {
    padding-bottom: 40px;
  }
  header {
    width: 92%;
    margin-bottom: 0px;
    height: 200px;
  }
  header #banner {
    top: 25%;
    transform: translateX(-50%) scale(1.6, 1.6);
  }
  header #menuBtn {
    left: 0;
    top: 43%;
  }
  header #menuBtn i {
    position: relative;
    top: 02px;
  }
  header #searchBtn {
    right: 0;
    top: 43%;
  }
  header #searchBtn i {
    position: relative;
    top: 02px;
  }
  main .row h1 {
    width: 100%;
    text-align: left;
  }
  .note {
    float: right;
    left: unset !important;
    width: 380px !important;
  }
  #code {
    display: inline-block;
    width: auto !important;
  }
  #code #copyBtn {
    position: relative !important;
    top: unset;
    left: unset;
  }
  main #download {
    position: absolute;
    left: 18px;
    width: 290px;
    margin-top: 80px;
  }
  #killD h1 {
    text-align: left;
    margin: 0;
  }
}

@media screen and (min-width: 850px) {
  #trump h1, #trump h3 {
    font-size: 2.5em;
  }
  #ftrs {
    display: none;
  }
  main .mainTit {
    margin-top: 100px;
    text-align: center;
  }
}

@media screen and (min-width: 990px) {
  #code input {
    width: 145px;
  }
}

@media screen and (min-width: 1024px) {
  main #download {
    left: 50px;
  }
  #trump {
    width: 85%;
    padding: 50px;
  }
  #trump h1, #trump h3 {
    font-size: 2.3em;
  }
  #trump img {
    margin-bottom: -100px;
  }
  header {
    width: 85%;
  }
  footer {
    font-size: 1.2em;
    width: 85%;
    padding: 50px;
  }
  main, #killD {
    width: 85%;
    padding: 50px;
  }
  #code input {
    width: 150px;
  }
}

@media screen and (min-width: 1200px) {
  main .row h1 {
    font-size: 2.2em;
  }
  main .row p {
    font-size: 1.4em;
  }
  #code input {
    width: 152px;
  }
  #trump h1, #trump h3 {
    font-size: 2.6em;
  }
}

@media screen and (min-width: 1300px) {
  #trump h1, #trump h3 {
    font-size: 2.9em;
  }
}

@media screen and (min-width: 1400px) {
  #trump h1, #trump h3 {
    font-size: 3.1em;
  }
}

@media screen and (min-width: 1500px) {
  #trump h1, #trump h3 {
    font-size: 3.3em;
  }
}
